.portfolio {
  margin: 5rem 0;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 5rem;
  animation: fadeIn 1s ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .portfolio {
    margin: 0;
  }

  .portfolio__list {
    display: flex;
    padding: 0 1rem 2rem;
  }
}
