.portfolio {
  margin: 5rem 0;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  animation: fadeIn 1s ease-out;
}

@media screen and (max-width: var(--screen-width-s)) {
  .portfolio {
    justify-content: center;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
