.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: start;
    gap: 3rem;
    padding: 1rem 0;
}

.portfolio__title {
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 1em;
}

@media screen and (max-width: var(--screen-width-s)) {
    .portfolio {
        justify-content: center;
    }
}
