.description {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    padding: 0 90px;
}

.description__photo {
    width: 350px;
    height: 350px;
    border-radius: 50%;
}

.description__text {
    width: 40vw;
    padding-top: 10px;
}

.description__title {
    font-size: 2.3em;
    text-align: center;
    color: var(--color-secondary);
    /*color: var(--color-additional);*/
}

.description__subtitle {
    padding-left: 1px;
    margin-bottom: 2em;
    letter-spacing: 6.5px;
    text-align: center;
    color: var(--color-secondary);
}

.description__summary {
    text-align: justify;
}

@media screen and (max-width: var(--screen-width-m)) {
    .description {
        max-width: 70vw;
    }
}

@media screen and (max-width: var(--screen-width-s)) {
    .description {
        max-width: 90vw;
    }

    .description__title {
        font-size: 3rem;
    }

    .description__subtitle {
        letter-spacing: 4.5px;
    }
}
