.mainInfo {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  height: 53rem;

  color: var(--color-secondary);
  background-color: var(--color-primary);
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
  animation: slideIn 1s;
  animation-timing-function: ease-out;
}

.mainInfo__content {
  display: flex;
  justify-content: space-between;
  gap: 11rem;
  max-width: var(--content-width);
  margin: auto;
}

@media screen and (max-width: var(--screen-width-m)) {
  .mainInfo {
    flex-direction: column;
    align-items: center;
    gap: 3rem;
  }
}

@keyframes slideIn {
  from {
    position: absolute;
    top: -30vh;
  }
  to {
    position: absolute;
    top: 0;
  }
}
