.iconsList {
    display: flex;
    justify-content: space-between;
    width: 50vw;
    margin: auto;
}

.iconsList_contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem 0 6rem;
}

.iconsList__icon {
    width: 5.5rem;
    height: auto;
}

.iconsList__icon_contacts {
    width: 3.5rem;
    height: auto;
}

.iconsList__icon:hover,
.iconsList__icon_contacts:hover {
    animation: zoom 500ms forwards;
}

@keyframes zoom {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@media (max-width: 600px) {
    .iconsList {
        width: 100%;
        justify-content: space-around;
    }

    .iconsList_contacts {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        padding: 1rem;
    }

    .iconsList__icon {
        width: 3.5rem;
    }
}
