:root {
  --max-width: 1100px;

  --screen-width-m: 991px;
  --screen-width-s: 575px;

  --color-primary: rgb(83, 63, 217);
  --color-secondary: #dfd0d3;
  --color-additional: #d65d73;
  --color-light: rgb(240 236 240);
  --color-dark: #3f3f3f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--color-primary);
}

body {
  font-family: var(--text-font);
  color: var(--color-dark);
  background: var(--color-secondary);
}

h1,
h2,
h3,
h4 {
  font-family: var(--title-font);
  color: var(--color-primary);
}

h2 {
  margin-bottom: 40px;
  letter-spacing: 10px;
  text-align: center;
  /*color: var(--color-additional);*/
}

a {
  color: var(--color-primary);
  text-decoration: none;
}

ul {
  list-style: none;
}
